<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexandreortigosa.appfi.aplicacionfinal" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoggActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".AcceptLoggin"
            android:label="@string/title_activity_accept_loggin" >
        </activity>
        <activity
            android:name=".DeclineLoggin"
            android:label="@string/title_activity_decline_loggin" >
        </activity>
        <activity
            android:name=".CalcActivity"
            android:label="@string/title_activity_calc" >
        </activity>
        <activity
            android:name=".MemoryActivity"
            android:label="@string/title_activity_memory"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MediaPlayerActivity"
            android:label="@string/title_activity_media_player"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".PlayerMediaService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".GPSActivity"
            android:label="@string/title_activity_gps" >
        </activity>
        <activity
            android:name=".PerfilActivity"
            android:label="@string/title_activity_perfil" >
        </activity>
    </application>

</manifest>
